@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,400;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* type */
h1 {
  @apply text-4xl font-head text-purple-600 lg:text-5xl leading-10 mb-8;
}
h2 {
  @apply text-3xl lg:text-4xl leading-9 my-4;
}
h2 {
  @apply text-2xl lg:text-3xl leading-8;
}
h3 {
  @apply text-xl lg:text-2xl leading-6;
}

h4 {
  @apply lg:text-xl font-semibold;
}

body {
  @apply font-body leading-5 text-zinc-700 p-2;
  position: relative;
  min-height: 100vh;
}

a {
  @apply underline decoration-dotted underline-offset-2 decoration-prime-200 text-prime-200;
}
a:hover {
  @apply underline decoration-dotted underline-offset-2 decoration-prime-100 text-prime-100;
}
p {
  @apply mb-4;
}

.btn {
  @apply bg-prime-300 text-white rounded-md px-8 py-2 my-2;
}
.btn:hover {
  @apply bg-prime-100;
}
.container {
  @apply px-5 md:px-10 lg:px-20;
}
img {
  max-width: 100%;
  height: auto;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/****** over all page layout */
header {
  @apply font-head text-4xl;
}

article {
  max-width: 900px;
  padding-bottom: 5rem; /* Footer height */
}
#check{
  display: none;
}
@media(max-width: 860px) {
  nav {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background-color: #fff;
    transition: all .5s ease;
  }

  header {
    @apply ml-20 mt-5 pb-8;
  }
  

  label #btn,label #cancel{
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    color: #d6adff;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: #e8d1ff;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),
    3.5px 3.5px 20px 0px rgba(0,0,0,.1),
    2px 2px 5px 0px rgba(0,0,0,.1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ nav{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }


  nav > a.active,nav > a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
  }
  nav a.active,nav > a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
  }
}

@media(min-width:861px) {
  nav {
    position: fixed;
    width: 240px;
    top: 0;
    height: 100%;
    background-color: #fff;
    transition: all .5s ease;
  }
  header, article, footer {
    @apply ml-64;
  }
  header {
    @apply pt-5 pb-8;
  }
  label#nav {
    display: none;
  }
}
nav .header {
  @apply text-2xl bg-purple-50 p-5 text-center mb-5;
}
nav ul {
  @apply ml-5;
}
nav li {
  @apply mb-5;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  padding-bottom: 1rem;
}

footer > div {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

footer .coffee {
  max-width: auto;
  max-height: 26px;
}
